*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body{
    background-color: white;
    color: #0a2351;
    
}

main{
    padding: 40px;
    


}
.form-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    padding: 30px;
    background-color: #00FFFF;
    /* width: 500px; */
    border-radius: 10px;
}
.form-controls{
    padding-bottom: 20px;
}
.form-container input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: 1px solid grey;
    border-radius: 5px;
    clear: both;
}
