

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    line-height: 1.3;
    
}

/* styling the header */
header{
    /* background-color: orange; */
  
}
/* naviagation top */
.nav-top{
    background-color: #0a2351;
    padding: 10px;
    color: #00FFFF;
}
ul.nav-items1{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}
.nav-items1 .left>li>a{
    text-decoration: none;
    color: #00FFFF;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.left{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.right{
    display: flex;
    align-items: center;
    gap: 10px;
    

}
.nav-items1 .right>li>a{
    text-decoration: none;
    color: #00FFFF;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* navigation bottom */
.nav-bottom{
    background-color: #DCDCDC;
    padding: 10px;
}
ul.nav-items2{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}
.nav-items2>li>a{
    text-decoration: none;
    color: #0a2351;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo{
    height: 40px;
}


/* styling the main section */
main{
    padding:50px
    
}
.grid-container{
    padding: 40px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-around;
}
.image-one{
    padding-bottom: 40px;
}

.column-one{
  

}
.column-two{
background-color: #00FFFF;
padding:20px 0 10px 20px;
border-radius: 10px;
   
    
}
.para{
    padding-bottom: 10px;
}
.content-1{
    padding-bottom: 20px;
}
.content-2{
    padding-bottom: 20px;
}
.content-4{
    padding-top: 40px;
    padding-left: 40px;
}

button{
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color:#0a2351;
    color: white;
    font-weight: bold;
}

/* styling the display books container */

.display-books{
    padding-top: 40px;
    width: 600px;
    /* display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px; */
   
}
ol.book-lists{
    padding: 20px;


}
ol.book-lists a{
    color: red;
    padding-left: 40px;
}
.display-books ol li::marker{
    /* content: " 🧡 "; */
}
.display-books li:nth-child(even){
    background-color:#00FFFF;
    border-radius: 10px;
}
.display-books li:nth-child(odd){
    background-color:#DCDCDC;
    border-radius: 10px;
}
.book-lists>li{
    padding: 10px;
    font-size: 1.2rem;
    letter-spacing: 1.3;
}






